@page "/teacher-search"
@inject HttpClient Http
@inject NavigationManager Navigation
@inject IJSRuntime JsRuntime


<PageTitle>Teacher search</PageTitle>
<Heading1 text="Teacher search"></Heading1>

<EditForm EditContext="@editContext">
    <div class="form-row">
        <div class="col form-group">
            <SfAutoComplete @ref="SpecialityAutoComplete" TValue="string" TItem="Speciality" Placeholder="Speciality"
                            DataSource="@Speciality.Specialities" FilterType="Syncfusion.Blazor.DropDowns.FilterType.StartsWith">
                <AutoCompleteFieldSettings Value="Name"></AutoCompleteFieldSettings>
                <AutoCompleteEvents TItem="Speciality" TValue="string" ValueChange="@SpecialityChanged"></AutoCompleteEvents>
            </SfAutoComplete>
        </div>
        <div class="col form-group">
            <SfAutoComplete @ref="ProvinceAutoComplete" TValue="string" TItem="Province" Placeholder="Province"
                            DataSource="@Province.Provinces" FilterType="Syncfusion.Blazor.DropDowns.FilterType.StartsWith">
                <AutoCompleteFieldSettings Value="Name"></AutoCompleteFieldSettings>
                <AutoCompleteEvents TItem="Province" TValue="string" ValueChange="@ProvinceChanged"></AutoCompleteEvents>
            </SfAutoComplete>
        </div>
    </div>
</EditForm>

<CascadingValue Value="selectedUsersList" Name="UsersList">
    <CascadingValue Value="user" Name="User">
        <UserCardsSet></UserCardsSet>
    </CascadingValue>
</CascadingValue>

@code {
    private EditContext editContext;
    private List<ApplicationUser> usersList = new List<ApplicationUser>();
    private List<ApplicationUser> selectedUsersList = new List<ApplicationUser>();
    private List<ApplicationUser> provinceAppliedUsersList = new List<ApplicationUser>();
    private List<ApplicationUser> specialityAppliedUsersList = new List<ApplicationUser>();
    private bool userAuthenticated { get; set; } = false;
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    [Inject]
    UserManager<ApplicationUser> userManager { get; set; }
    ApplicationUser? user;
    private string baseUri = string.Empty;
    SfAutoComplete<string, Province> ProvinceAutoComplete = new SfAutoComplete<string, Province>();
    SfAutoComplete<string, Speciality> SpecialityAutoComplete = new SfAutoComplete<string, Speciality>();


    protected override async Task OnInitializedAsync()
    {
        baseUri = Navigation.BaseUri;
        var user2 = (await authenticationStateTask).User;
        if (user2.Identity.IsAuthenticated)
        {
            user = await userManager.GetUserAsync(user2);
            userAuthenticated = true;
        }
        editContext = new EditContext(this);
        await LoadUsers();
        provinceAppliedUsersList = usersList;
        specialityAppliedUsersList = usersList;
        // selectedUsersList = usersList;

        if (LoginDisplay.SpecialityAutoComplete.Value != null)
        {
            //update specialityAppliedUsersList and selectedUserList
            specialityAppliedUsersList = usersList.Where(x => x.Speciality == LoginDisplay.SpecialityAutoComplete.Value).ToList();
        }

        if (LoginDisplay.ProvinceAutoComplete.Value != null)
        {
            //update provinceAppliedUsersList
            provinceAppliedUsersList = usersList.Where(x => x.Province == LoginDisplay.ProvinceAutoComplete.Value).ToList();
        }

        selectedUsersList = (List<ApplicationUser>)usersList.AsQueryable().
                Intersect(provinceAppliedUsersList).Intersect(specialityAppliedUsersList).ToList();
    }

    async Task LoadUsers()
    {
        var path = Navigation.BaseUri + "Users/GetTeachersWithPublicProfile";
        var result = await Http.GetFromJsonAsync<List<ApplicationUser>>(path);
        usersList = result;
    }

    private void ProvinceChanged(ChangeEventArgs<string, Province> args)
    {
        if (ProvinceAutoComplete.Value != null)
        {
            if (ProvinceAutoComplete.Value != "")
            {
                provinceAppliedUsersList = usersList.Where(x => x.Province == ProvinceAutoComplete.Value).ToList();
            }
        }
        else
        {
            provinceAppliedUsersList = usersList;
        }
        selectedUsersList = (List<ApplicationUser>)usersList.AsQueryable().
        Intersect(provinceAppliedUsersList).Intersect(specialityAppliedUsersList).ToList();
    }

    private void SpecialityChanged(ChangeEventArgs<string, Speciality> args)
    {

        if (SpecialityAutoComplete.Value != null)
        {
            if (SpecialityAutoComplete.Value != "")
            {
                specialityAppliedUsersList = usersList.Where(x => x.Speciality == SpecialityAutoComplete.Value).ToList();
            }
        }
        else
        {
            specialityAppliedUsersList = usersList;
        }
        selectedUsersList = (List<ApplicationUser>)usersList.AsQueryable().
                Intersect(provinceAppliedUsersList).Intersect(specialityAppliedUsersList).ToList();
    }
}

<style>
    #search-bar{
        display:none !important;
    }
</style>